$color_1: #1F7A54;
$color_2: #616161;
$font-family_1: Quicksand, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$background-color_1: #EEEEEE;
$background-color_2: #E0E1E1;

@font-face {
	font-family: Quicksand;
	src: url('../assets/fonts/Quicksand-VariableFont_wght.ttf');
}
* {
	font-family: $font-family_1;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
	margin: 0px;
}
h1 {
	margin: 0px;
}
h2 {
	margin: 0px;
}
h3 {
	margin: 0px;
}
h4 {
	margin: 0px;
}
h5 {
	margin: 0px;
}
h6 {
	margin: 0px;
}
p {
	margin: 0px;
}
pre {
	margin: 0px;
}
input {
	padding: 0px;
	outline: none;
}
select {
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxwYXRoIGQ9Ik03IDEwbDUgNSA1LTV6Ii8+CiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPgo=") no-repeat;
	background-position: calc(100% - 0.15rem) center;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	padding: 0px;
	outline: none;
}
button {
	outline: none;
}
textarea {
	outline: none;
}
a {
	outline: none;
}
ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.footer-top {
	background-color: $background-color_1;
	padding: 1rem;
}
.footer-top-links {
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: center;
	list-style: none;
	li {
		border-right: 1px solid #0000001F;
		padding: 0px 0.5625rem;
		display: flex;
		align-items: center;
		justify-content: center;
		&:last-child {
			border-right: 0px;
			padding-right: 0px;
		}
		a {
			text-decoration: none;
			color: $color_1;
			font-weight: 600;
			font-size: 0.875rem;
		}
	}
}
.footer-bottom {
	background-color: $background-color_2;
	padding: 0.75rem 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		border-right: 1px solid #0000001F;
		padding: 0px 16px;
	}
	p {
		color: $color_2;
		font-weight: 600;
		font-size: 0.75rem;
		padding-left: 16px;
	}
}
@media (max-width: 968px) {
	html {
		font-size: 15px;
	}
}
@media (max-width: 668px) {
	html {
		font-size: 14px;
	}
}
@media (max-width: 368px) {
	html {
		font-size: 13px;
	}
}
@media (max-width: 268px) {
	html {
		font-size: 12px;
	}
}
@media (max-width: 168px) {
	html {
		font-size: 11px;
	}
}
@media (max-width: 468px) {
	.footer-bottom {
		flex-direction: column;
		gap: 1rem;
		img {
			border: 0px;
			padding: 0px;
		}
		p {
			border: 0px;
			padding: 0px;
		}
	}
}